.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:
    linear-gradient(
    135deg,
    #6C63FF,
    #FF6B6B);

    overflow:hidden;

    position:relative;

}

.hero-content h1{

    font-size:78px;

    font-weight:800;

    color:white;

    line-height:1;

}

.hero-content p{

    color:white;

    font-size:22px;

    margin:35px 0;

    max-width:500px;

}

.hero-buttons{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.hero-dog{

    width:100%;

    max-width:550px;

    animation:floatDog 5s ease-in-out infinite;

}

.btn-outline-custom{

    color:white;

    border:2px solid white;

    padding:18px 40px;

    border-radius:50px;

    text-decoration:none;

}

@keyframes floatDog{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0px);

}

}